
  
  .multi-button {
    display: flex;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 2rem 1rem -1rem #123;
  }
  
  .multi-button  button {
    appearance: none;
    border: 0;
    font: 2rem/1 monospace;
    margin: 0;
    overflow: hidden;
    padding: 1rem 1.25rem;
    position: relative;
    top: 0;
    transition: 150ms;
    background-color: #f561ab;
    background-image: radial-gradient(ellipse at top right, #f56161, rgba(245, 97, 171, 0) 67%);
    box-shadow: 0 0.75rem 0 #c90d6b;
    color: #123;
    text-shadow: 0 -0.1em 0 rgba(221, 238, 255, 0.5);
  }
  .multi-button button:hover, button:focus {
    outline: none;
    background-color: #f5f561;
    background-image: radial-gradient(ellipse at top right, #abf561, rgba(245, 245, 97, 0) 67%);
    box-shadow: 0 0.75rem 0 #c9c90d;
    color: #123;
    text-shadow: 0 -0.1em 0 rgba(221, 238, 255, 0.5);
  }
  .multi-button button:active {
    box-shadow: 0 0 0;
    opacity: 0.67;
    outline: none;
    top: 0.75rem;
  }
  .multi-button button:first-child, button:last-child {
    border-radius: 1rem;
  }
  .multi-button button:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .multi-button button:nth-child(2) {
    background-color: #f56161;
    background-image: radial-gradient(ellipse at top right, #f5ab61, rgba(245, 97, 97, 0) 67%);
    box-shadow: 0 0.75rem 0 #c90d0d;
    color: #123;
    text-shadow: 0 -0.1em 0 rgba(221, 238, 255, 0.5);
  }
  .multi-button button:nth-child(2):hover, button:nth-child(2):focus {
    outline: none;
    background-color: #abf561;
    background-image: radial-gradient(ellipse at top right, #61f561, rgba(171, 245, 97, 0) 67%);
    box-shadow: 0 0.75rem 0 #6bc90d;
    color: #123;
    text-shadow: 0 -0.1em 0 rgba(221, 238, 255, 0.5);
  }
  .multi-button button:nth-child(2):active {
    box-shadow: 0 0 0;
    opacity: 0.67;
    outline: none;
    top: 0.75rem;
  }
  .multi-button button:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #f5ab61;
    background-image: radial-gradient(ellipse at top right, #f5f561, rgba(245, 171, 97, 0) 67%);
    box-shadow: 0 0.75rem 0 #c96b0d;
    color: #123;
    text-shadow: 0 -0.1em 0 rgba(221, 238, 255, 0.5);
  }
  .multi-button  button:last-child:hover, button:last-child:focus {
    outline: none;
    background-color: #61f561;
    background-image: radial-gradient(ellipse at top right, #61f5ab, rgba(97, 245, 97, 0) 67%);
    box-shadow: 0 0.75rem 0 #0dc90d;
    color: #123;
    text-shadow: 0 -0.1em 0 rgba(221, 238, 255, 0.5);
  }
  .multi-button button:last-child:active {
    box-shadow: 0 0 0;
    opacity: 0.67;
    outline: none;
    top: 0.75rem;
  }