/* body{
  background-image: url("../KakaoTalk_Image_2021-11-04-17-32-09.png");
} */
.about__container {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    padding: 20px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    align-items: center;
    justify-items: center;
    width: 100%;
    width: 600px;
    height: 600px;
    font-weight: 300;
    text-align: center;
    
  }
  
  .about__container span:first-child {
    font-size: 20px;
  
  }
  
  .about__container span:last-child {
    display: block;
    margin-top: 3000px;
   
  }
  .about__container input{
  
  }