a:link {
  color: initial;
}
a:visited {
  color: initial;
}
a:active {
  color: initial;
}
.shop-main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* overflow-y: scroll; */
  padding-right: 10px;
}
/* .shop-main::-webkit-scrollbar {
  width: 10px;
}
.shop-main::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
.shop-main::-webkit-scrollbar-track {
  background-color: grey;
} */
.shop-main * {
  color: white;
}
.shop-main-title > h1 {
  color: white;
  margin-left: 150px;
  text-align: center;
  margin-bottom: 10px;
}
.shop-main-sidebar {
  left: 65px;
  width: 150px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
  position: fixed;
}

.shop-main-content {
  width: calc(100% - 150px);
  display: flex;
  flex-direction: column;
}
.shop-main-content-item_list {
  /* background-image: url(../images/inventory.png); */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 102px);
  gap: 8px;
  align-items: stretch;
  align-content: stretch;
}
.shop-main-content-item_box {
  border-radius: 10px;
  border: solid transparent;
  background: rgb(84, 92, 143);
  width: 100%;
  height: 102px;
  transition-duration: 0.3s;
}
.shop-main-content-item_box:hover {
  border: solid rgb(6, 214, 160);
}
.shop-main-content-item_box * {
  height: 100%;
}

.shop-main-content-item_box a {
  display: flex;
}
.shop-main-content-item_box-img {
  border-radius: 10px;
  margin: auto auto;
  width: 86px;
  height: 86px;
  object-fit: inherit;
}
.shop-main-content-item_box-info {
  width: calc(100% - 96px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop-main-content-item_box-info-name {
  padding-top: 12px;
  padding-left: 4px;
  line-height: 1.2rem;
  text-align: left;
}
.shop-main-content-item_box-info-price {
  font-size: 1.2rem;
  height: 1.2rem;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: right;
  vertical-align: bottom;
}
.shop-main-content-item_box-info-price > .acorn {
  vertical-align: middle;
  width: 22px;
  height: 22px;
}

.load_more {
  text-align: center;
  margin-top: 10px;
}
.load_more > button {
  background-color: rgb(84, 92, 143);
  text-align: center;
  border: solid transparent;
  border-radius: 7px;
  width: 200px;
  padding: 7px 0;
  font-size: 1.4rem;
  cursor: pointer;
  transition-duration: 0.3s;
}
.load_more > button:hover {
  border: solid rgb(6, 214, 160);
}
